/* Mettre tous les h2 en bleu */
/* h2{
    color: blue;
} */

/* Mettre la classe gras en caractères gras */
.gras{
    font-weight: bold;
}

/* mettre une bordure noire à l'id realisations */
#realisations{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    /* Version raccourcie */
    /* border: 1px solid black; */
}

/* Sélectionner les balises ul dans header */
header ul{
    /* On enlève les "puces" du ul */
    list-style-type: none;
}

/* Sélectionner les h2 enfants de section */
/* 
    <section>
        <h2></h2>
    </section>
*/
/* > signifie "enfant de" */
section > h2{
    color: red;
}

/* Sélectionner les balises p qui suivent une balise h2 */
/* 
    <h2></h2>
    <p></p>
*/
/* + signifie "qui suit" */
h2 + p{
    color: green;
}

/* Sélectionner toutes les balises p après une balise h2 */
h2 ~ p{
    text-decoration: underline;
}

body {
    background-color: red;
}

/* Permet d'appliquer une propriété au survol de l'élément */
li a:hover{
    color: green;
}

/* La pseudo classe négation :not() permet de volontairement exclure un élément*/
li:not(.gras){
    border: 2px solid black;
}
    

/*Firstletter ... */
/* Nous pouvons utiliser des pseudos éléments (identifiés par ::) pour mettre en forme des parties d'un élément, comme la première lettre */
p::first-letter{
    font-size: 2em;
    font-weight: bold;
}

/* em est l'unité de la taille de la police (à favoriser pour le responsive */

/* idem que firstletter mais s'applique à firstline */
p::first-line{
    font-size: 3em;
    font-weight: bold;

}

/*Avec nth-child, il accepte un nombre entier comme paramètre mais ne repose pas sur un système à base zero (comme JS par ex), on commence à un */
/* Nous allons cibler le deuxième élément de la liste */
li:nth-child(2){
    background-color: orange;
}

/* Pour sélectionner un nombre d'enfant au nombre variable.
Ici, on sélectionne les 2nd élements (=un sur deux)*/
li:nth-child(2n){
    background-color: orangered;
}

/* Ici on prend le troisième en partant de la fin */
li:nth-last-child(3){
    background-color: orangered;
}

/* Un balisage qui contient plusieurs balises <p>
Ici on cible un type <p>, on veut mettre en forme que la 2ème */
p:nth-of-type(2){
    background-color: orangered;
}

/* On peut commencer par la fin aussi (si grande liste)*/
/* Ici deuxième en partant de la fin */
p:nth-last-of-type(2){
    border: 4px solid blue;
}



/* first-child */
/* Cette pseudo classe structurelle permet de cibler uniquement le premier enfant de l'élément parent.
Ex :Une liste dont chaque élément possède une bordure */
li{
    border: 2px solid black;
}
/*supprimer la 1ere bordure (bordure haute) de chaque liste*/
ul li:first-child{
    border-top: none;
}

/*supprimer la dernière bordure (bordure basse) de chaque liste*/
/*last-child*/
ul li:last-child{
    border-bottom: none;
}

