
  /* * est le "sélecteur universel" */
  *{
    /* Permet de maîtriser les largeurs et hauteurs qui se basent sur les dimensions extérieures des éléments */
    box-sizing: border-box;
}

/* Balises ou sélecteurs qui impactent toute la page */
a{
    text-decoration: none;
}


/* De haut en bas du HTML par grande partie */
body{
    margin: 0;
}

/***********
*  header  *
***********/
img{
    width: 5vw;
    height: auto;
    float: left;
}
header{
    height: 100vh;
    background-image: url(../images/fond.jpg);
    background-size: cover;
}

nav { 
    background-color: whitesmoke;
    height: 8em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-top: 2em;
}

nav li {
    display: inline-block;
    margin-left: 6em;
    font-size: 2em;
    font-weight: bolder;
}

nav a:hover {
    color:brown;
}
header margin-top: 50vh;
font-size: 5em;
}
header h2 {
    font-size: 3em;

}
header h1,
header h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    background-color: rgba(0,0,0,0,253);
    color: black;

}

/* main */
/* compétences */

/* réalisations */


/* footer */
